body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }
  
h1 {
  font-family: "Brush Script MT";
  font-size: xx-large;
}

  .navbar {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
  }
  
  .navbar-brand, .nav a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    margin-right: 10px;
  }
  
  .container {
    margin: 20px;
  }
  
  .aanbodTabel {
    width: 100%;
    border-collapse: separate; /* Zorgt ervoor dat border-spacing werkt */
    border-spacing: 0 15px; /* 0px horizontale ruimte, 15px verticale ruimte tussen rijen */
  }
  
  .aanbodTabel th, .aanbodTabel td {
    text-align: left;
    padding: 10px; /* Voegt ruimte binnenin elke cel toe */
    background-color: #f9f9f9; /* Lichtgrijze achtergrond voor elke cel */
    border-radius: 5px; /* Maakt de hoeken van cellen rond */
  }
  
  input[type="text"], input[type="submit"] {
    padding: 5px;
    margin-top: 5px; /* Voegt ruimte toe boven de invoervelden */
  }
  

  .tabelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-weight: bold;
  }
  table {
    border-collapse: collapse;
    width: 80%; /* Aanpasbaar naar wens */
    margin: auto;
  }
  th, td {
    border: 3px solid #007bff;
    text-align: left;
    padding: 8px;
    background-color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:last-child td {
    padding: 4px 8px; /* Kleinere padding voor de laatste rij om het smaller te laten lijken */
  }

  
  input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }

  img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    border: 1px solid #0056b3;
    box-shadow: 2px 2px;
  }
  
    /* Basisstijl voor de link */
  li.active a.menu {
    color: white; /* Basiskleur van de link */
    text-decoration: underline; /* Behoudt de onderstreping */
    transition: color 0.3s ease-in-out; /* Maakt de kleurverandering vloeiend */
  }

  /* Hover-stijl voor de link */
  li.active a.menu:hover {
    color: #ff4500; /* Kleur van de link bij hover */
  }

  iframe{
    border: 1px solid #0056b3;
    display: block;
    margin-top: 20px;
    border: 1px solid #0056b3;
    box-shadow: 2px 2px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 1000px;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
gmp-map {
    height: 60%;
    
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  footer {
    background-color: #007bff; /* Donkerblauwe achtergrond */
    color: #ffffff; /* Witte tekst */
    text-align: center; /* Centreert de tekst */
    padding: 10px 0; /* Voegt padding toe aan de boven- en onderkant */
  }
  


  /* validatie

/* This is our style for the invalid fields */
input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */

p * {
  display: block;
}

input[type="email"] {
  appearance: none;

  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

/* This is our style for the invalid fields */
input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}